.ai2html-griffin-figure {
    margin-bottom: 2rem;
}

.ai2html-griffin-figure header span {
    display: block;
}

.ai2html-griffin-figure header h1 {
    font-weight: 900;
    font-size: 1.32rem;
    font-size: clamp(1.1rem, 3.06vw, 1.32rem);
    margin-bottom: 0.25em;
    line-height: 1.1;
}
.ai2html-griffin-figure .figure-label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    font-size: clamp(13px, 3.2vw, 1rem);
}
.ai2html-griffin-figure .subhead {
    font-size: 1rem;
    font-size: clamp(13px, 3.2vw, 1rem);
    font-weight: bold;
    margin-top: 9px;
    margin-bottom: 9px;

}
.ai2html-griffin-figure .figure-dek {
    opacity: .9;
    font-weight: 600;
    font-size: 1.13rem;
    font-size: clamp(1rem, 2.636vw, 1.13rem);
    white-space: normal !important;
    line-height: 1.2;
}
.ai2html-griffin-figure .figure-note,
.rich-text .ai2html-griffin-figure .figure-note {
    font-size: 0.8rem;
    font-size: clamp(10px, 3.17vw, 0.8rem);
    line-height: 1.1;
    margin-top: 9px;
    margin-bottom: 9px;
}

.ai2html-griffin-figure .figure-note--source {
    color: #767676;
}
@media screen and (max-width: 416px) {
    .ai2html-griffin-figure .figure-note,
    .rich-text .ai2html-griffin-figure .figure-note  {
        font-size: 10px;
        font-size: clamp(10px, 3vw, 0.8rem);
    } 
    .ai2html-griffin-figure .figure-dek {
        font-size: 0.85rem;
        font-size: clamp(1rem, 2.636vw, 1.13rem);
    }
    .ai2html-griffin-figure .figure-label, .ai2html-griffin-figure .subhead {
        font-size: 13px;
        font-size: clamp(13px, 3.2vw, 1rem);
    }
    .ai2html-griffin-figure header h1 {
        font-size: 1rem;
        font-size: clamp(1.1rem, 3.06vw, 1.32rem);
    }
}