.ai2html-griffin-figure {
    margin-bottom: 2rem;
    line-height: 1.2;
}

.ai2html-griffin-figure p {
    line-height: 1.2;
}

.ai2html-griffin-figure header span {
    display: block;
}

.ai2html-griffin-figure header h1 {
    font-weight: 900;
    font-size: 1.32rem;
    font-size: clamp(1.1rem, 3.06vw, 1.32rem);
    margin: 0 0 0.25em;
    line-height: 1.1;
}

.ai2html-griffin-figure .figure-label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    font-size: clamp(13px, 3.2vw, 1rem);
}

.ai2html-griffin-figure .subhead {
    font-size: 1rem;
    font-size: clamp(13px, 3.2vw, 1rem);
    font-weight: bold;
    margin-top: 9px;
    margin-bottom: 9px;
}

.ai2html-griffin-figure .figure-dek {
    opacity: .9;
    font-weight: 600;
    font-size: 1.13rem;
    font-size: clamp(1rem, 2.636vw, 1.13rem);
    white-space: normal !important;
    line-height: 1.2;
    margin: 0 0 1.125rem;
}

.ai2html-griffin-figure figcaption {
    padding-top: 1rem;
}

.ai2html-griffin-figure .figure-note, .rich-text .ai2html-griffin-figure .figure-note {
    font-size: 0.8rem;
    font-size: clamp(10px, 3.17vw, 0.8rem);
    line-height: 1.3;
    margin-top: 9px;
    margin-bottom: 9px;
}

.ai2html-griffin-figure .figure-caption, .rich-text .ai2html-griffin-figure .figure-caption {
    font-size: 1rem;
    font-size: clamp(0.9rem, 3.07vw, 1rem);
}

.ai2html-griffin-figure .figure-note--source {
    color: #767676;
}

@media screen and (max-width: 416px) {
    .ai2html-griffin-figure .figure-note, .rich-text .ai2html-griffin-figure .figure-note {
        font-size: 10px;
        font-size: clamp(10px, 3vw, 0.8rem);
    }
    .ai2html-griffin-figure .figure-caption, .rich-text .ai2html-griffin-figure .figure-caption {
        font-size: 0.9rem;
        font-size: clamp(0.9rem, 3.07vw, 1rem);
    }
    .ai2html-griffin-figure .figure-dek {
        font-size: 0.85rem;
        font-size: clamp(1rem, 2.636vw, 1.13rem);
    }
    .ai2html-griffin-figure .figure-label, .ai2html-griffin-figure .subhead {
        font-size: 13px;
        font-size: clamp(13px, 3.2vw, 1rem);
    }
    .ai2html-griffin-figure header h1 {
        font-size: 1rem;
        font-size: clamp(1.1rem, 3.06vw, 1.32rem);
    }
}

/* TO DO temp fix. builder should prob use an iframe so that proper css is applied */

.griffin-chart-builder--mobile.ai2html-griffin-figure .figure-note, .rich-text .griffin-chart-builder--mobile.ai2html-griffin-figure .figure-note {
    font-size: 0.8rem;
}
.griffin-chart-builder--mobile.ai2html-griffin-figure .figure-caption, .rich-text .griffin-chart-builder--mobile.ai2html-griffin-figure .figure-caption {
    font-size: 0.9rem;
}

.griffin-chart-builder--mobile.ai2html-griffin-figure .figure-dek {
    font-size: 1rem;
}

.griffin-chart-builder--mobile.ai2html-griffin-figure .figure-label, .griffin-chart-builder--mobile.ai2html-griffin-figure .subhead {
    font-size: 1rem;
}

.griffin-chart-builder--mobile.ai2html-griffin-figure header h1 {
    font-size: 1.1rem;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}